header {
  background-color: rgb(37, 37, 37);
  height: 50px;
  font-size: 15pt;
  color:white;
  font-weight: bold;
}

header p {
    margin-top: 12px;
    padding-right: 10px;
    display:block;
    float:right;
}
