@import url('https://fonts.googleapis.com/css?family=Roboto');
html{
    height: 100vh;
}

body {
    font-family: 'Roboto';
    color: var(--text-color);
    margin: 0;
    --header-color: #D1DFB7;
    --sidebar-color: #FAE6BE;
    --text-color: black;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow: hidden;
    background-color: rgb(37, 37, 37);
}

button{
    outline: 0;
}
