<div class="searchField">
	<div class="autocomplete">
	  	<input #inputFrom (change)="getValue(inputFrom.value, inputTo.value)" type="text" name="inputFrom" id="inputFrom" placeholder="From">
		  <div #inputautocompleteList class="autocomplete-items autocomplete-items-from">

			<div *ngFor="let item of nominatimItemsFrom" >
				{{ item.display_name }}
				<input type="hidden" value="{{ item.display_name }}">
			</div>

			<div *ngFor="let item of photonItemsFrom" >
				{{ item.properties.name }} {{item.properties.postcode}} {{item.properties.city}} {{item.properties.countrycode}} 
				<input type="hidden" value="{{  item.properties?.name }}">
			</div>

		</div>
	</div>
	<div class="autocomplete">
		<input #inputTo (change)="getValue(inputFrom.value, inputTo.value)" type="text" name="inputTo" id="inputTo" placeholder="To">
		<div #inputautocompleteList class="autocomplete-items autocomplete-items-to">

			<div *ngFor="let item of nominatimItemsTo" >
				{{ item.display_name }}
				<input type="hidden" value="{{ item.display_name }}">
			</div>

			<div *ngFor="let item of photonItemsTo" >
				{{  item.properties.name }} {{item.properties.postcode}} {{item.properties.city}} {{item.properties.countrycode}}
				<input type="hidden" value="{{  item.properties?.name }}">
			</div>

		</div>
	</div>
</div>