<div class="searchField">
	<div class="autocomplete">
	  	<input #inputFrom (keyup)="getValue(inputFrom.value, inputTo.value)" type="text" name="inputFrom" id="inputFrom" placeholder="From">
		  <div #inputautocompleteList class="autocomplete-items">
			<div *ngFor="let item of itemsFrom" >
				{{ item.display_name }}
				<input type="hidden" value="{{ item.display_name }}">
			</div>
		</div>
	</div>
	<div class="autocomplete">
		<input #inputTo (keyup)="getValue(inputFrom.value, inputTo.value)"type="text" name="inputTo" id="inputTo" placeholder="To">
		<div #inputautocompleteList class="autocomplete-items">
			<div *ngFor="let item of itemsTo" >
				{{ item.display_name }}
				<input type="hidden" value="{{ item.display_name }}">
			</div>
		</div>
	</div>
</div>